body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", "DM Sans", sans-serif !important;
}

.logo {
  width: 149px;
  height: 48.653px;
}

.left-div {
  padding: 32px 32px;
  gap: 64px;
  display: flex;
  flex-direction: column;
  border-right: 1px, #5a5a5a;
  background-color: #155840;
  margin: 0;
}

.side-pannel p {
  color: #fff !important;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  text-align: center;
  align-items: center !important;
}

.side-pannel-menu {
  display: flex;
  align-items: center;
  gap: 6.289px;
}

.side-pannel {
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.side-pannel-icon {
  width: 30px !important;
  height: 30px !important;
  color: #808080;
  display: flex;
  align-items: center;
}

.main-page {
  padding: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.div-1 {
  gap: 2px;
  display: flex;
  align-items: center;
}

.div-2 {
  width: 100%;
  height: 100px;
  background: #f7f7f7;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 90px;
}

.sub-div-2 {
  justify-content: space-between;
  gap: 123px;
}

.nav-link {
  font-family: "Poppins";
}

.sub-div-2 img {
  width: 250px;
  height: 201px;
}

.sub-div-2 li {
  color: #5a5a5a;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
}

.div-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-div-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.div-3-search input {
  border: 0;
  outline: 0;
  background: #fafafa;
}

.div-3-search {
  border: 0;
  outline: 0;
  border-radius: 2.815px;
  border: 0.989px solid #dbdbdb;
  background: #fafafa;
}

.div-3-filter {
  border-radius: 2.815px;
  border: 0.989px solid #dbdbdb;
  background: #fafafa;
  display: inline-flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.div-4 {
  background: #f7f7f7;
  padding: 16px 24px;
}

.div-4 .row-cols-3 {
  display: flex;
  align-items: center;
  gap: 73px;
}

.heading {
  color: #404040;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card {
  border-width: 0;
  padding-bottom: 16px;
  border-radius: 16px;
  gap: 6px;
  padding-left: 0px;
  padding-right: 0px;
}

.card-body {
  z-index: 2;
  margin-top: -30px;
  background-color: #fafafa;
  border-radius: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  padding: 16px;
  gap: 12px;
}

.card h5 {
  color: #5a5a5a;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 136%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.card p {
  color: #5a5a5a;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card .discount {
  gap: 4px;
}

.card .discount-red {
  color: #fafafa;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 72px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  background: #f91919;
  height: 24px;
  border-radius: 4px;
}

.card .discount-green {
  color: #fafafa;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 90px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  background: #155840;
  height: 24px;
  border-radius: 4px;
}

.card .discount-grey {
  color: #fafafa;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 90px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  background: #36454c;
  height: 24px;
  border-radius: 4px;
}

.card article {
  color: #5a5a5a;
  font-family: Clash Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 136%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-left: 12px;
}

.flash-sales {
  display: flex;
  flex-direction: column !important;
  position: absolute;
  z-index: 2;
  margin-top: -165px;
  margin-left: 8px;
  gap: 4px;
}

.modify {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.modify .delete {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  background: #f91919;
  color: #fff;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.748px;
  text-transform: uppercase;
}

.modify .edit {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  background: #ffc029;
  color: #fff;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.748px;
  text-transform: uppercase;
}

.card-img-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.sale-tag {
  color: #fafafa;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 80px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  background: #006838;
  height: 24px;
  border-radius: 4px;
  justify-content: center;
}

.new-tag {
  color: #fafafa;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 80px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: center;
  background: #f91919;
  height: 24px;
  border-radius: 4px;
  justify-content: center;
}
