.reset {
  width: 600px;
  gap: 12px;
}

.div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  margin-bottom: -516px;
  /* margin-right: 382px; */
  float: right;
  align-self: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}

.changePassword {
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.changePassword span {
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.div-1-passwordReset {
  width: 100%;
  height: 54px;
  border-radius: 10px;
  border: 1px solid #000;
}

.div-1-passwordReset input {
  outline: 0;
  border: 0;
}

.div-1-confirmPasswordReset {
  width: 100%;
  height: 54px;
  border-radius: 10px;
  border: 1px solid #000;
}

.div-1-confirmPasswordReset input {
  outline: 0;
  border: 0;
}

.passeord-btn {
  fill: #006838;
  stroke-width: 1px;
  stroke: #000;
  width: 100%;
  height: 64px;
  flex-shrink: 0;
}
